"* text=auto eol=lf" 
"*.png binary" 
"*.jpg binary" 
"*.jpeg binary" 
"*.gif binary" 
"*.ico binary" 
"*.zip binary" 
"*.gz binary" 
"*.tar binary" 
"*.tgz binary" 
* text=auto eol=lf
*.mp3 binary
*.pdf binary
